# Project files and paths.
.classpath
.project
*.iml
**/*.iml
.settings/
bin/
libs/
gen/
.idea/
.gitignore
.project.properties
.externalNativeBuild/
tests/stress/gen/
.gradle/
local.properties
gradle/
build/
gradlew*
